<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detalhes do Usuario</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <main class="main-content">
        <h1>Detalhes</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome/th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Senha</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.nome}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.telefone}"></td>
                    <td th:text="${usuario.senha}"></td>
                    <td>
                        <form th:action="@{/usuarios/{id}/excluir(id=${usuario.id})}" method="post">
                            <button type="submit" class="botao">Excluir</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer>
        <p>2025 Meu App</p>
    </footer>
</body>

</html>