<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Agendamentos</title>
    <meta charset="UTF-8" />
</head>
<body>
    <h1>Agendamentos Marcados</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Serviço</th>
            <th>Data e Hora</th>
            <th>Telefone</th>
            <th>Ação</th>
        </tr>
        <tr th:each="agendamento : ${agendamentos}">
            <td th:text="${agendamento.id}"></td>
            <td th:text="${agendamento.nomeCliente}"></td>
            <td th:text="${agendamento.servico}"></td>
            <td th:text="${agendamento.dataHora}"></td>
            <td th:text="${agendamento.telefone}"></td>
            <td>
                <form th:action="@{'/cancelar/' + ${agendamento.id}}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">Cancelar</button>
            </form>
            </td>
            <td>
                <form th:action="@{'/editar/' + ${agendamento.id}}" method="get">
                    <button type="submit">Editar</button>
                </form>
            </td>
        </tr>
    </table>
    
    <br>
        <form th:action="@{/agendar}" method="get">
            <button type="submit">Agendar</button>
       </form>

    <br>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Sair</button>
        </form>

    <br>
    <p th:text="${mensagem}"></p>
</body>
</html>
