<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Gerenciar Usuários</title>
    <link rel="stylesheet" th:href="@{/css/usuarios.css}" />
</head>
<body>
    <div class="fundo-verde">
        <div class="titulo">
            <h1>Usuários Cadastrados</h1>
        </div>

        <div class="voltar-home-container">
            <a th:href="@{/home}" class="btn-voltar-home">Voltar para Home</a>
        </div>

        <p th:if="${mensagemExclusao}" style="color: green; font-weight: bold; margin-bottom: 10px;" th:text="${mensagemExclusao}"></p>
        <p th:if="${erroExclusao}" style="color: red; font-weight: bold; margin-bottom: 10px;" th:text="${erroExclusao}"></p>


        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Tipo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.id}" data-label="ID">1</td>
                    <td th:text="${usuario.nome}" data-label="Nome">João</td>
                    <td th:text="${usuario.email}" data-label="Email">joao@email.com</td>
                    <td th:text="${usuario.telefone}" data-label="Telefone">99999-9999</td>
                    <td th:text="${usuario.tipo}" data-label="Tipo">CLIENTE</td>
                    <td data-label="Ações">
                        <form th:action="@{/api/usuarios/excluir/{id}(id=${usuario.id})}" method="post" th:object="${usuario}">
                            <button type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>